/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 15vh;
    position: static;
    z-index: 1;
    padding-top: 2rem;
  }
  /* NAVIGATION LINKS */
  .navLinks {
    display: flex;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
  }
  
  .navLinks li {
    list-style: none;
  }
  li:nth-child(6) {
    padding: 3px 1rem;
    border: 1px solid #212832;
    border-radius: 5px;
    background-color: transparent;
  }
  li a {
    font-family: "Open Sans", sans-serif;
    color: #212832;
    text-decoration: none;
    font-size: 13px;
  }
  li a:hover{
      background-color: #ddd;
      color: black;
      border-bottom: 1px solid #1e1d4c;
      /* padding: 1rem; */
    
  }
  select {
    border: none;
    background-color: transparent;
  }
  /* HAMBUGER */
  #hambuger {
    display: none;
  }
  
  #hambuger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
  /* TO EFFECT THE ANIMATION ON THE HAMBUGER */
  .toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .bar2 {
    opacity: 0;
  }
  .toggle .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /* ANIMATION FOR THE NAVLINKS */
@keyframes navlinksId {
  from {
    opacity: 0;
    transform: rotateX(30deg);
  }
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}
@media screen and (max-width: 768px) {
    #hambuger {
      display: block;
      cursor: pointer;
    }
    /* THIS WILL TAKE EFFECT IN THE MOBILE VIEW */
    .navLinks {
      position: absolute;
      right: 0px;
      top: 15vh;
      display: flex;
      flex-direction: column;
      text-align: left;
      height: 85vh;
      background-color: #df6951;
      width: 50vw;
      color: blue;
      transform: translateX(-200%);
      transition: all ease-in-out 0.5s;
      transform-style: preserve-3d;
    }
}